<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.cc.mapper.QrCellMapper" >
  <resultMap id="BaseResultMap" type="com.cloud.cc.vo.QrCell" >
    <id column="cellId" property="cellid" jdbcType="INTEGER" />
    <result column="wallId" property="wallid" jdbcType="INTEGER" />
    <result column="UDID" property="udid" jdbcType="VARCHAR" />
    <result column="sortNo" property="sortno" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cellId, wallId, UDID, sortNo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qrcell
    where cellId = #{cellid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qrcell
    where cellId = #{cellid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cloud.cc.vo.QrCell" >
    insert into qrcell (cellId, wallId, UDID, 
      sortNo)
    values (#{cellid,jdbcType=INTEGER}, #{wallid,jdbcType=INTEGER}, #{udid,jdbcType=VARCHAR}, 
      #{sortno,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cloud.cc.vo.QrCell" >
    insert into qrcell
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cellid != null" >
        cellId,
      </if>
      <if test="wallid != null" >
        wallId,
      </if>
      <if test="udid != null" >
        UDID,
      </if>
      <if test="sortno != null" >
        sortNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cellid != null" >
        #{cellid,jdbcType=INTEGER},
      </if>
      <if test="wallid != null" >
        #{wallid,jdbcType=INTEGER},
      </if>
      <if test="udid != null" >
        #{udid,jdbcType=VARCHAR},
      </if>
      <if test="sortno != null" >
        #{sortno,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloud.cc.vo.QrCell" >
    update qrcell
    <set >
      <if test="wallid != null" >
        wallId = #{wallid,jdbcType=INTEGER},
      </if>
      <if test="udid != null" >
        UDID = #{udid,jdbcType=VARCHAR},
      </if>
      <if test="sortno != null" >
        sortNo = #{sortno,jdbcType=INTEGER},
      </if>
    </set>
    where cellId = #{cellid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloud.cc.vo.QrCell" >
    update qrcell
    set wallId = #{wallid,jdbcType=INTEGER},
      UDID = #{udid,jdbcType=VARCHAR},
      sortNo = #{sortno,jdbcType=INTEGER}
    where cellId = #{cellid,jdbcType=INTEGER}
  </update>
</mapper>