html,body {
    width:100%;
    height:100%;
    background:url("/Images/login.jpg") no-repeat bottom center;
    background-size:cover;
}


.RegisterBody{
	height:100%;
}

.RegisterBody .bj{
    height:100%;
    width:100%;
}
.RegisterRight{
	width:430px;
	height:430px;
	position:absolute;
	left:50%;	
	top:36%;
	margin-left:-215px;
	margin-top:-215px;
}

.RegisterRight h1{
	height:30px;
	line-height:30px;
	font-size:24px;
    text-align: center;
	color:#000000;
}
.RegisterRight .tit{
    font-size: 14px;
    line-height: 80px;
}
.RegisterRight .LoginTitle{
	text-align:center;
}

.footer{
	font-size:12px;
	width:100%;
	position:absolute;
	left:0;
	bottom:20px;
	color:#ffffff;
	height:50px;
	line-height:50px;
	text-align:center;
	z-index:1;
}
.BackLogin{
	position:absolute;
	top:30px;
	right:50px;
	margin-right:5px;
	font-size:14px;
	color:#1d93ec;
}
.logo{
	width:200px;
	height:60px;
	position:absolute;
	left:10px;
	top:10px;
}

/*验证账户*/
.RegisterRight .VerifyUserName{
	width:330px;
	height:240px;
	/*box-shadow: 0px 0px 20px #cccccc;*/
	background:rgba(255,255,255,0.75);
    margin: 20px auto;
    position: relative;
    
    
}
.verifyLoading{
    width: 280px;
    margin: 0 auto;
    height: 150px;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #cccccc;
    background: #fff;
    position: absolute;
    bottom: -80px;
    margin: 25px;
    display: none;
}
.verifyLoading img{
    display: block;
    height: 64px;
    width: 64px;
    margin: 20px auto 10px;
}
.verifyLoading p{
    width: 100%;
    text-align: center;
    line-height: 22px;
}
.RegisterRight .InputLogin{
	border:0;
	background:rgba(255,255,255,0);
}
.RegisterRight .VerifyUserName .InputXs{
	width:280px;
	height:240px;
	margin:0 auto;
	padding-top:10px;
}
.RegisterRight .VerifyUserName .InputXs h2{
	height:30px;
	color:#000000;
	font-size:12px;
	line-height:30px;
}
.RegisterRight .VerifyUserName .InputXs .InputZh{
	width:276px;
	height:28px;	
	border:1px solid #D2D2D2;
	background:#ffffff;
}
.RegisterRight .VerifyUserName .InputXs .InputZh img{
	width:28px;
	height:28px;
	float:left;
}
.RegisterRight .VerifyUserName .InputXs .InputZh .zhm{
	height:28px;
	float:left;
	width:225px;
	border:0;
	padding-left:20px;
	font-size:12px;	
	border-radius:3px;	
}
.RegisterRight .VerifyUserName .InputXs .InputYx{
	width:200px;
	float:left;
}
.RegisterRight .VerifyUserName .InputXs .InputYx .zhm{
	width:150px;
	
}
.RegisterRight .VerifyUserName .InputXs .box{
	width:100%;
	height:30px;
}
.RegisterRight .VerifyUserName .InputXs .box .Code{
	width:76px;
	height:100%;
	padding:0;
	background:#1D92EC;
	font-size:12px;
	color:#ffffff;
	border:0;
	float:left;
	cursor:pointer;
}
.RegisterRight .VerifyUserName .InputXs .button{
	width:100%;
	height:30px;
	font-size:16px;
	background:#1d91ec;
	text-align:center;
	line-height:30px;
	color:#ffffff;
	cursor:pointer;
    border:0;
	border-radius:3px;
}
.RegisterRight .VerifyUserName .InputXs .tisi{
	height:30px;
	width:100%;
	text-align:center;
	line-height:30px;
	color:#FF5957;
}

/*找回密码主体*/
.getBackBox{
    display: none;
}
.getBackBox .email-box,.getBackBox .question-box{
    display: block;
    height: 150px;
    width: 190px;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    float: left;
}
.getBackBox .question-box{
    margin-left: 44px;
}
.getBackBox .email-box img,.getBackBox .question-box img{
    display: block;
    width: 48px;
    height: 48px;
    margin: 20px auto 12px;
}
.getBackBox .email-box span,.getBackBox .question-box span{
    display: block;
    width:140px;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
}

/*邮箱找回*/
.RegisterRight .emailGet{
	width:330px;
	height:240px;
	box-shadow: 0px 0px 20px #cccccc;
	background:rgba(255,255,255,0.75);
    margin: 20px auto;
    display: none;
}
.RegisterRight .InputLogin{
	border:0;
	background:rgba(255,255,255,0);
}
.RegisterRight .emailGet .InputXs{
	width:280px;
	height:240px;
	margin:0 auto;
	padding-top:10px;
}
.RegisterRight .emailGet .InputXs h2{
	height:30px;
	color:#000000;
	font-size:12px;
	line-height:30px;
}
.RegisterRight .emailGet .InputXs .InputZh{
	width:276px;
	height:28px;	
	border:1px solid #D2D2D2;
	background:#ffffff;
}
.RegisterRight .emailGet .InputXs .InputZh img{
	width:28px;
	height:28px;
	float:left;
}
.RegisterRight .emailGet .InputXs .InputZh .zhm{
	height:28px;
	float:left;
	width:225px;
	border:0;
	padding-left:20px;
	font-size:12px;	
	border-radius:3px;	
}
.RegisterRight .emailGet .InputXs .InputYx{
	width:200px;
	float:left;
}
.RegisterRight .emailGet .InputXs .InputYx .zhm{
	width:150px;
	
}
.RegisterRight .emailGet .InputXs .box{
	width:100%;
	height:30px;
}
.RegisterRight .emailGet .InputXs .box .Code{
	width:76px;
	height:100%;
	padding:0;
	background:#1D92EC;
	font-size:12px;
	color:#ffffff;
	border:0;
	float:left;
	cursor:pointer;
}
.RegisterRight .emailGet .InputXs .button{
	width:100%;
	height:30px;
	font-size:16px;
	background:#999999;
	text-align:center;
	line-height:30px;
	color:#ffffff;
	cursor:pointer;
    border:0;
	border-radius:3px;
}
.RegisterRight .emailGet .InputXs .tisi{
	height:30px;
	width:100%;
	text-align:center;
	line-height:30px;
	color:#FF5957;
}

/*密保找回*/
.RegisterRight .questionGet{
	width:330px;
	height:240px;
	box-shadow: 0px 0px 20px #cccccc;
	background:rgba(255,255,255,0.75);
    margin: 20px auto;
    display: none;
}
.RegisterRight .InputLogin{
	border:0;
	background:rgba(255,255,255,0);
}
.RegisterRight .questionGet .InputXs{
	width:280px;
	height:240px;
	margin:0 auto;
	padding-top:10px;
}
.RegisterRight .questionGet .InputXs h2{
	height:30px;
	color:#000000;
	font-size:12px;
	line-height:30px;
}
.RegisterRight .questionGet .InputXs .InputZh{
	width:276px;
	height:28px;	
	border:1px solid #D2D2D2;
	background:#ffffff;
}
.RegisterRight .questionGet .InputXs .InputZh img{
	width:35px;
	height:28px;
	float:left;
    margin-left: 8px;
}
.RegisterRight .questionGet .InputXs .InputZh .zhm{
	height:28px;
	float:left;
	width:200px;
	border:0;
	padding-left:20px;
	font-size:12px;	
	border-radius:3px;	
}
.RegisterRight .questionGet .InputXs .InputYx{
	width:200px;
	float:left;
}
.RegisterRight .questionGet .InputXs .InputYx .zhm{
	width:150px;
	
}
.RegisterRight .questionGet .InputXs .box{
	width:100%;
	height:30px;
}
.RegisterRight .questionGet .InputXs .box .Code{
	width:76px;
	height:100%;
	padding:0;
	background:#1D92EC;
	font-size:12px;
	color:#ffffff;
	border:0;
	float:left;
	cursor:pointer;
}
.RegisterRight .questionGet .InputXs .button{
	width:100%;
	height:30px;
	font-size:16px;
	background:#999999;
	text-align:center;
	line-height:30px;
	color:#ffffff;
	cursor:pointer;
    border:0;
	border-radius:3px;
}
.RegisterRight .questionGet .InputXs .tisi{
	height:30px;
	width:100%;
	text-align:center;
	line-height:30px;
	color:#FF5957;
}

/*确认密码*/
.RegisterRight .confirmPassword{
	width:330px;
	height:280px;
	box-shadow: 0px 0px 20px #cccccc;
	background:rgba(255,255,255,0.75);
    margin: 20px auto;
    position: relative;
    display: none;
}
.RegisterRight .InputLogin{
	border:0;
	background:rgba(255,255,255,0);
}
.RegisterRight .confirmPassword .InputXs{
	width:280px;
	height:240px;
	margin:0 auto;
	padding-top:10px;
}
.RegisterRight .confirmPassword .InputXs h2{
	height:30px;
	color:#000000;
	font-size:12px;
	line-height:30px;
}
.RegisterRight .confirmPassword .InputXs .InputZh{
	width:276px;
	height:28px;	
	border:1px solid #D2D2D2;
	background:#ffffff;
}
.RegisterRight .confirmPassword .InputXs .InputZh img{
	width:35px;
	height:28px;
	float:left;
    margin-left: 8px;
}
.RegisterRight .confirmPassword .InputXs .InputZh .zhm{
	height:28px;
	float:left;
	width:200px;
	border:0;
	padding-left:20px;
	font-size:12px;	
	border-radius:3px;	
}
.RegisterRight .confirmPassword .InputXs .InputYx{
	width:200px;
	float:left;
}
.RegisterRight .confirmPassword .InputXs .InputYx .zhm{
	width:150px;
	
}
.RegisterRight .confirmPassword .InputXs .box{
	width:100%;
	height:30px;
}
.RegisterRight .confirmPassword .InputXs .box .Code{
	width:76px;
	height:100%;
	padding:0;
	background:#1D92EC;
	font-size:12px;
	color:#ffffff;
	border:0;
	float:left;
	cursor:pointer;
}
.RegisterRight .confirmPassword .InputXs .button{
	width:100%;
	height:30px;
	font-size:16px;
	background:#1d91ec;
	text-align:center;
	line-height:30px;
	color:#ffffff;
	cursor:pointer;
    border:0;
	border-radius:3px;
}
.RegisterRight .confirmPassword .InputXs .tisi{
	height:30px;
	width:100%;
	text-align:center;
	line-height:30px;
	color:#FF5957;
}
.RegisterRight .confirmPassword .verifyLoading{
    bottom: -100px;
}