html,body {
    width:100%;
    height:100%;
    background:url("../../Images/login.jpg") no-repeat bottom center;
    background-size:cover;
}

.RegisterBody{
	height:100%;
}

.RegisterBody .bj{
    height:100%;
    width:100%;
}
.RegisterRight{
	width:332px;
	height:460px;
	float:left;
	position:absolute;
	left:50%;	
	top:50%;
	margin-left:-166px;
	margin-top:-260px;
	
	
}
.RegisterBody .bt{
	width:230px;
	height:70px;
	position:absolute;
	top:50px;
	left:50px;
}
.RegisterRight h1{
	height:30px;
	line-height:30px;
	font-size:14px;
	margin-bottom:20px;
	color:#000000;
}
.RegisterRight .LoginTitle{
	text-align:center;
}
.RegisterRight .InputBox{
	width:330px;
	height:350px;
	border:1px solid #6B7073;
	background:rgba(255,255,255,0.75);
}
.RegisterRight .InputLogin{
	border:0;
	background:rgba(255,255,255,0);
}
.RegisterRight .InputBox .InputXs{
	width:280px;
	height:338px;
	margin:0 auto;
	padding-top:10px;
}
.RegisterRight .InputBox .InputXs h2{
	height:30px;
	color:#000000;
	font-size:12px;
	line-height:30px;
}
.RegisterRight .InputBox .InputXs .InputZh{
	width:276px;
	height:auto;	
	border:1px solid #D2D2D2;
	background:#ffffff;
}
    .RegisterRight .InputBox .InputXs .InputZh:after {
      content:"";display:block;clear:both;
    }
.RegisterRight .InputBox .InputXs .InputZh img{
	width:28px;
	height:28px;
	float:left;
}
.RegisterRight .InputBox .InputXs .InputZh .zhm{
	height:28px;
	float:left;
	width:226px;
	border:0;
	padding-left:20px;
	font-size:12px;
	color:#000000;
	border-radius:3px;	
}
.RegisterRight .InputBox .InputXs .InputYx{
	width:200px;
	float:left;
}
.RegisterRight .InputBox .InputXs .InputYx .zhm{
	width:150px;
	
}
.RegisterRight .InputBox .InputXs .box{
	width:100%;
	height:30px;
}
.RegisterRight .InputBox .InputXs .box .Code{
	width:76px;
	height:100%;
	background:#999999;
	font-size:12px;
	color:#ffffff;
	border:0;
	float:left;
	cursor:pointer;
}
.RegisterRight .InputBox .InputXs .button{
	width:100%;
	height:30px;
	font-size:16px;
	background:#999999;
	text-align:center;
	line-height:30px;
	color:#ffffff;
	cursor:pointer;
	margin-top:30px;
	border-radius:3px;
}
.footer{
	font-size:12px;
	width:100%;
	position:absolute;
	left:0;
	bottom:100px;
	color:#ffffff;
	height:50px;
	line-height:50px;
	text-align:center;
	z-index:1;
}

.BackLogin{
	position:absolute;
	top:30px;
	right:50px;
	margin-right:5px;
	font-size:14px;
	color:#1d93ec;
}
.RegisterRight .InputBox .InputXs .ButtonLogin{
	background:#1D91EC;
	margin-top:20px;
    border:0;
}
.RegisterRight .InputBox .InputXs .LoginA{
	height:36px;
	line-height:50px;
}
.RegisterRight .InputBox .InputXs .LoginA .register{
	float:right;
	font-size:12px;
	color:#000000;
}
.RegisterRight .InputBox .InputXs .LoginA .forget{
	float:right;
	font-size:12px;
	color:#000000;
	margin-left:30px;
}
.Method{
	height:100px;
	width:330px;
}
.Method .First{
	width:146px;
	float:left;
	height:96px;
	border:2px solid #DDDDDD;
	display:block;
}
.Method .First .Img{
	width:30px;
	height:30px;
	margin:10px auto;
}
.Method .First .Img img{
	width:30px;
	height:30px;
	
}
.Method .First p{
	font-size:12px;
	width:100px;
	margin:0 auto;
	color:#333333;
}
.Method .Second{
	margin-left:30px;
}
.RegisterRight .InputBox .InputXs .InputZh p{
	width:60px;
	height:28px;
	line-height:28px;
	float:left;
	text-align:center;
}
.RegisterRight .InputBox .InputXs .InputZh .zhDa{
	float:left;
	padding-left:0;
	width:215px;
}
.logo{
	width:200px;
	height:60px;
	position:absolute;
	left:10px;
	top:10px;
}