@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */


/* line 38, ../sass/component/_global.scss */

/* line 48, ../sass/component/_global.scss */

/* line 52, ../sass/component/_global.scss */

/* line 57, ../sass/component/_global.scss */
.txt-color-666 { color: #666 !important; }
/* line 61, ../sass/component/_global.scss */
.txt-textOneRow { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
/* line 67, ../sass/component/_global.scss */
.txt-textTwoRow { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
/* line 14, ../sass/dialog.scss */
.cpt-dw-dialog-mask { position: fixed; width: 100%; height: 100%; top: 0; left: 0; bottom: 0; right: 0; -moz-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
/* line 25, ../sass/dialog.scss */
.cpt_mask_dialog { -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: transparent; position: fixed; top: 0; left: 0; width: 100%; height: 100%; font-family: '微软雅黑', 'Microsoft Yahei'; z-index: 1000002; animation-duration: 0.6s; }
/* line 38, ../sass/dialog.scss */
.div_dialog { position: fixed; left: 50%; top: 50%; min-width: 240px; min-height: 130px; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -moz-box-shadow: 0 3px 10px #aaa; -webkit-box-shadow: 0 3px 10px #aaa; box-shadow: 0 3px 10px #aaa; }
/* line 50, ../sass/dialog.scss */
.div_dialog .close_dialog { position: absolute; height: 40px; width: 40px; right: -50px; top: -50px; cursor: pointer; }
/* line 59, ../sass/dialog.scss */
.div_dialog .close_dialog .line1 { position: absolute; top: 50%; left: 50%; width: 30px; height: 2px; background: #fff; margin: 0 auto; -webkit-transform: translate(-50%, -50%) rotate(-45deg); transform: translate(-50%, -50%) rotate(-45deg); }
/* line 70, ../sass/dialog.scss */
.div_dialog .close_dialog .line2 { position: absolute; top: 50%; left: 50%; width: 30px; height: 2px; background: #fff; margin: 0 auto; -webkit-transform: translate(-50%, -50%) rotate(-45deg); transform: translate(-50%, -50%) rotate(45deg); }
/* line 83, ../sass/dialog.scss */
.div_dialog.no_boxShadow { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
/* line 87, ../sass/dialog.scss */
.div_dialog .title_dialog { font-size: 20px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 10px 0; height: 40px; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* line 99, ../sass/dialog.scss */
.div_dialog .discription_dialog { padding: 16px 0 14px 0; font-size: 14px; text-indent: 16px; line-height: 1.5; }
/* line 109, ../sass/dialog.scss */
.div_dialog .discription_dialog .dialog_input { height: 28px; width: 98%; margin: 0 auto; outline: none; border: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; border-bottom: 1px solid #aaa; }
/* line 119, ../sass/dialog.scss */
.div_dialog .discription_dialog .dialog_input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #a1a1a1;
}
/* line 122, ../sass/dialog.scss */
.div_dialog .discription_dialog .dialog_input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a1a1a1;
}
/* line 125, ../sass/dialog.scss */
.div_dialog .discription_dialog .dialog_input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a1a1a1;
}
/* line 128, ../sass/dialog.scss */
.div_dialog .discription_dialog .dialog_input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #a1a1a1;
}
/* line 133, ../sass/dialog.scss */
.div_dialog .dialog_divOperation { display: -webkit-flex; display: flex; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; justify-content: flex-end; float: right; min-height: 32px; line-height: 32px; }
/* line 144, ../sass/dialog.scss */
.div_dialog .dialog_divOperation.samewidth { width: 100%; }
/* line 146, ../sass/dialog.scss */
.div_dialog .dialog_divOperation.samewidth .btn_span { display: block; text-align: center; width: calc(50% - 10px); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 100%; line-height: 1.5; -webkit-flex: 1; flex: 1; }
/* line 154, ../sass/dialog.scss */
.div_dialog .dialog_divOperation.samewidth .btn_span.one_btn_span { margin: 0 !important; width: 100%; float: none !important; }
/* line 159, ../sass/dialog.scss */
.div_dialog .dialog_divOperation.samewidth .btn_span:first-child { margin-right: 10px; float: left; }
/* line 163, ../sass/dialog.scss */
.div_dialog .dialog_divOperation.samewidth .btn_span:last-child { margin-left: 10px; float: right; }
/* line 170, ../sass/dialog.scss */
.div_dialog .dialog_divOperation .btn_span { display: -webkit-flex; display: flex;  @justify-content (center);
-webkit-align-items: center; align-items: center; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; height: 20px; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; cursor: pointer; font-size: 14px; line-height: 18px; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }
/* line 184, ../sass/dialog.scss */
.div_dialog .dialog_divOperation .btn_span:first-child { margin-right: 10px; }
/* line 191, ../sass/dialog.scss */
.div_dialog.primary .div_dialog { -moz-box-shadow: 0px 0px 3px 0px #4D96DF; -webkit-box-shadow: 0px 0px 3px 0px #4D96DF; box-shadow: 0px 0px 3px 0px #4D96DF; }
/* line 194, ../sass/dialog.scss */
.div_dialog.primary .div_dialog.no_boxShadow { -moz-box-shadow: 0px 0px 0px 0px #fff; -webkit-box-shadow: 0px 0px 0px 0px #fff; box-shadow: 0px 0px 0px 0px #fff; }
/* line 199, ../sass/dialog.scss */
.div_dialog.primary .title_dialog { color: #4D96DF; border-bottom: 1px dashed #4D96DF; }
/* line 204, ../sass/dialog.scss */
.div_dialog.primary .discription_dialog { color: #313234; }
/* line 209, ../sass/dialog.scss */
.div_dialog.primary .dialog_divOperation .btn_span { color: #fff; background: #4D96DF; }
/* line 215, ../sass/dialog.scss */
.div_dialog.primary .dialog_divOperation .btn_span:hover { background: #4684C3; }
/* line 219, ../sass/dialog.scss */
.div_dialog.primary .dialog_divOperation .btn_span.no_bg { background: #fff; color: #333; }
/* line 224, ../sass/dialog.scss */
.div_dialog.primary .dialog_divOperation .btn_span.defalut { color: #fff; background: #4D96DF; }
/* line 229, ../sass/dialog.scss */
.div_dialog.primary .dialog_divOperation .btn_span.reverse { color: #4D96DF; background: #fff; border: 1px solid #4D96DF; }
/* line 234, ../sass/dialog.scss */
.div_dialog.primary .dialog_divOperation .btn_span.reverse:hover { color: #4684C3; border: 1px solid #4684C3; }
/* line 244, ../sass/dialog.scss */
.div_dialog.success .div_dialog { -moz-box-shadow: 0px 0px 3px 0px #21B384; -webkit-box-shadow: 0px 0px 3px 0px #21B384; box-shadow: 0px 0px 3px 0px #21B384; }
/* line 247, ../sass/dialog.scss */
.div_dialog.success .div_dialog.no_boxShadow { -moz-box-shadow: 0px 0px 0px 0px #fff; -webkit-box-shadow: 0px 0px 0px 0px #fff; box-shadow: 0px 0px 0px 0px #fff; }
/* line 252, ../sass/dialog.scss */
.div_dialog.success .title_dialog { color: #21B384; border-bottom: 1px dashed #21B384; }
/* line 257, ../sass/dialog.scss */
.div_dialog.success .discription_dialog { color: #283528; }
/* line 262, ../sass/dialog.scss */
.div_dialog.success .dialog_divOperation .btn_span { color: #fff; background: #21B384; }
/* line 268, ../sass/dialog.scss */
.div_dialog.success .dialog_divOperation .btn_span:hover { background: #28A47C; }
/* line 272, ../sass/dialog.scss */
.div_dialog.success .dialog_divOperation .btn_span.no_bg { background: #fff; color: #333; }
/* line 277, ../sass/dialog.scss */
.div_dialog.success .dialog_divOperation .btn_span.defalut { color: #fff; background: #21B384; }
/* line 282, ../sass/dialog.scss */
.div_dialog.success .dialog_divOperation .btn_span.reverse { color: #21B384; background: #fff; border: 1px solid #21B384; }
/* line 287, ../sass/dialog.scss */
.div_dialog.success .dialog_divOperation .btn_span.reverse:hover { color: #28A47C; border: 1px solid #28A47C; }
/* line 297, ../sass/dialog.scss */
.div_dialog.danger .div_dialog { -moz-box-shadow: 0px 0px 3px 0px #D9534F; -webkit-box-shadow: 0px 0px 3px 0px #D9534F; box-shadow: 0px 0px 3px 0px #D9534F; }
/* line 300, ../sass/dialog.scss */
.div_dialog.danger .div_dialog.no_boxShadow { -moz-box-shadow: 0px 0px 0px 0px #fff; -webkit-box-shadow: 0px 0px 0px 0px #fff; box-shadow: 0px 0px 0px 0px #fff; }
/* line 305, ../sass/dialog.scss */
.div_dialog.danger .title_dialog { color: #D9534F; border-bottom: 1px dashed #D9534F; }
/* line 310, ../sass/dialog.scss */
.div_dialog.danger .discription_dialog { color: #4F3536; }
/* line 315, ../sass/dialog.scss */
.div_dialog.danger .dialog_divOperation .btn_span { color: #fff; background: #D9534F; }
/* line 321, ../sass/dialog.scss */
.div_dialog.danger .dialog_divOperation .btn_span:hover { background: #C74743; }
/* line 325, ../sass/dialog.scss */
.div_dialog.danger .dialog_divOperation .btn_span.no_bg { background: #fff; color: #333; }
/* line 330, ../sass/dialog.scss */
.div_dialog.danger .dialog_divOperation .btn_span.defalut { color: #fff; background: #D9534F; }
/* line 335, ../sass/dialog.scss */
.div_dialog.danger .dialog_divOperation .btn_span.reverse { color: #D9534F; background: #fff; border: 1px solid #D9534F; }
/* line 340, ../sass/dialog.scss */
.div_dialog.danger .dialog_divOperation .btn_span.reverse:hover { color: #C74743; border: 1px solid #C74743; }
/* line 350, ../sass/dialog.scss */
.div_dialog.warning .div_dialog { -moz-box-shadow: 0px 0px 3px 0px #FFBD7A; -webkit-box-shadow: 0px 0px 3px 0px #FFBD7A; box-shadow: 0px 0px 3px 0px #FFBD7A; }
/* line 353, ../sass/dialog.scss */
.div_dialog.warning .div_dialog.no_boxShadow { -moz-box-shadow: 0px 0px 0px 0px #fff; -webkit-box-shadow: 0px 0px 0px 0px #fff; box-shadow: 0px 0px 0px 0px #fff; }
/* line 358, ../sass/dialog.scss */
.div_dialog.warning .title_dialog { color: #FFBD7A; border-bottom: 1px dashed #FFBD7A; }
/* line 363, ../sass/dialog.scss */
.div_dialog.warning .discription_dialog { color: #4F3536; }
/* line 368, ../sass/dialog.scss */
.div_dialog.warning .dialog_divOperation .btn_span { color: #fff; background: #FFBD7A; }
/* line 374, ../sass/dialog.scss */
.div_dialog.warning .dialog_divOperation .btn_span:hover { background: #F0AF6D; }
/* line 378, ../sass/dialog.scss */
.div_dialog.warning .dialog_divOperation .btn_span.no_bg { background: #fff; color: #333; }
/* line 383, ../sass/dialog.scss */
.div_dialog.warning .dialog_divOperation .btn_span.defalut { color: #fff; background: #FFBD7A; }
/* line 388, ../sass/dialog.scss */
.div_dialog.warning .dialog_divOperation .btn_span.reverse { color: #FFBD7A; background: #fff; border: 1px solid #FFBD7A; }
/* line 393, ../sass/dialog.scss */
.div_dialog.warning .dialog_divOperation .btn_span.reverse:hover { color: #F0AF6D; border: 1px solid #F0AF6D; }
