<link href="../../Content/View/CreateDataTable.css" rel="stylesheet" />
<script src="../../Scripts/View/CreateDataTable.js"></script>


<div class="table-box">
    <div class="position-box">
        <p>位置：<a href="">云控储存</a></p>
    </div>
    <div class="inner-table">
        <div class="table-head">
            <p class="top-title">新建数据表</p>
        </div>
        <div class="table-tool">
            <p class="nice-select-title btn-first">数据表名</p>
            <div class="nice-select-box">
                <div class="nice-select project-select" style="width: 200px; background: #fff;">
                    <input type="text" readonly value="{{CurrentUserTableName}}" style="color: #333333" id="InputTableName">
                </div>
            </div>
            <p class="nice-select-title btn-first">&nbsp;&nbsp;&nbsp;&nbsp;项目</p>
            <div class="nice-select-box">
                <div class="nice-select nice-select-blue project-select" name="nice-select" style="width: 280px;background: none;" id="pname-box">
                    <input type="text" value="{{CurrentPanme}}" readonly style="color: #333333" data-str="{{CurrentProjectID}}" id="InputProjectName">
                    <ul>
                        <li ng-repeat="i in cloudprojectdata" data-value="{{i.ProjectID}}">{{i.ProjectName}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <table class="table-top table-botm table-dom" border="0">
            <tr ng-repeat="i in fieldList">
                <td class="right-btn-group">
                    <p class="nice-select-title title-b">列字段</p>
                    <div class="nice-select-box">
                        <div class="nice-select" name="nice-select" style="width: 180px; background:#fff;">
                            <input type="text" readonly value="{{i.COLUMN_NAME}}" placeholder="" maxlength="16" onkeyup="value=value.replace(/[^a-zA-Z]/g, '')" style="color: #333333" data-str="" class="field-input">
                        </div>
                    </div>
                    <p class="nice-select-title title-b">类型</p>
                    <div class="nice-select-box">
                        <div class="nice-select" name="nice-select" style="width: 180px;background:#fff;">
                            <input type="text" readonly value="{{i.DATA_TYPE}}" placeholder="" style="color: #333333" data-str="" class="field-input">
                        </div>
                    </div>

                </td>
            </tr>
            <tr id="div-empty"></tr>
        </table>

        <div class="FixedPopupMask" style="display:none;"></div>
    </div>
</div>






<script type="text/javascript">
    var token = '@Commons.CurrentToken()';
</script>