@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-02-24 13:19:30
 * @version $Id$
 */
/*****************页面初始化开始**************************/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,figure { margin:0; padding:0; }
h1, h2, h3, h4, h5, h6{font-size:12px; text-decoration:none; font-weight:normal;}
fieldset, img { vertical-align: middle; } 
img{vertical-align: middle;border:0;}
ul, ol { list-style:none; }
input, textarea { padding-top:0; padding-bottom:0; font-family: "微软雅黑","微软雅黑";outline: none;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; }
table { border-collapse:collapse; border-spacing:0 }
body {font-size:12px; color:#434343;font-family:"Microsoft YaHei", Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;}
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
a { color:#434343; text-decoration:none; }

/*****************页面初始化结束**************************/

